@import "../../style-variables.scss";

.navContainer {
    position: relative;
    display: flex;
    float: right;
    margin: 25px 35px;


    .navList {
        display: grid;
        margin-left: 25px;
        border-bottom: 6px solid transparent;
        transition: border-bottom 2s;
        color: white;
        
        &:hover {
            border-bottom: 3px solid $salmonPink;
        }
    }
    
    .navText {
        font-size: 18px;

        &:hover {
            color: $salmonPink;
        }
    }
}