@import "../../style-variables.scss";

.navContainer {
    position: relative;
    float: right;
    margin: 25px 0px;
    display: block;
    text-align: end;


    .navList {
        display: inline-block;
        margin: 0 20px;
        border-bottom: 6px solid transparent;
        transition: border-bottom 2s;
        color: white;
        
        &:hover {
            border-bottom: 3px solid $salmonPink;
        }
    }
    
    .navText {
        font-size: 18px;

        &:hover {
            color: $salmonPink;
        }
    }
}