@import "../../style-variables.scss";

.homeContainer {
    padding: 90px 45px;
    top: 30px;
    
    .profilePhoto {
        height: 200px;
        width: 200px;
        border: 4px solid $white;
        border-radius: 100px;
        // background-image: url();
        position: relative;
        margin: 0px auto;

    }

    .innerCircle {
        height: 180px;
        width: 180px;
        border-radius: 100px;
        left: 6px;
        top: 6px;
        position: absolute;
        // background-image: url('../../assets/images/profileImage.jpeg') inherit;
    }

    .descriptionContainer {
        position: relative;
        display: grid;
        width: fit-content;
        max-width: 55%;
        margin: 0px auto;

        .name {
            font-size: 54px;
            // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            color: $salmonPink;
            text-align: center;
        }
    
        .designation {
            font-size: 15px;
            float: left;
            display: flex;
        }
    
        .location {
            font-size: 15px;
            float: left;
            display: flex;
        }

        .bio {
            text-align: justify;
            font-size: 18px;
            margin-top: 10px;
        }

        .socialMediaContainer {
            display: flex;
            margin-top: 10px;
            
            img {
                height: 28px;
                margin: 5px 10px 0px 0px;
                cursor: pointer;   
                
                &:hover {
                    border: 2px solid $salmonPink;
                    border-radius: 10px;
                }
            }
        }
    
    }
}