@import "../../style-variables.scss";

.contactContainer {
    padding: 30px 45px;
    top: 60px;
    display: flow-root;

    .formSection{
        border: 1px solid $salmonPink;
        height: 300px;
        border-radius: 4px;
        padding: 30px;
        width: 60%;
        margin: 0 auto;
        background-color: rgba(49, 48, 48, 0.673);
    }
}