@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import 'style-variables.scss';

body {
    color: $white !important;
    height: 100vh;
    background-color: $black;
    font-family: "Roboto Mono", monospace;
}

a {
    color: white !important;
    text-decoration: none !important;

    &:hover,:focus {
        text-decoration: none !important;
        color: inherit !important; 
    }
}

.highlightTxt {
    color: $salmonPink;
    font-weight: 600;
}